.faq {
  background-color: $white-darker;
  padding: 70px 0;
  padding-top: 71px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.faq__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.faq__wrapper {

}

.faq__tabs-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 162px);
    justify-content: center;
    margin-bottom: 45px;
  }

}

.faq__tab {
  border: 1px solid $light-opacity-grey;
  padding: 14px 8px;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: $base-dark-blue;

  &:hover,
  &:focus {
    border-color: $base-dark-blue;
    outline: none;
  }

  &:active,
  &--active {
    background: $base-gradient;
    color: $base-white;
    border: 1px solid transparent;
    border-image: $base-gradient;
    border-image-slice: 1;
    outline: none;
  }

  &--disabled {
    border-color: rgba(16, 38, 84, 0.2);
    color: #c8c9cc;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 17px 8px;
    font-size: 18px;
  }
}
