.form {
  margin: 0;
  background-color: $white-darker;
}

.form__main-label {
  color: $base-dark-blue;
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.form__container {
  padding: 0 15px;
  padding-bottom: 70px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 103px;
  }
}

.form__label {
  font-family: $roboto-font;
  font-size: 14px;
  line-height: 157%;
  font-weight: 400;
  color: $error-color;
}

.form__title {
  color: $base-black;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 100%;
    text-align: center;
  }
}

.form__wrapper {

}

.form__input-box {
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.form__input {
  display: block;
  padding: 0;
  font-weight: 300;
  background-color: transparent;
  border: none;
  color: $base-dark-blue;
  font-size: 14px;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid $base-black;

  &::placeholder {
    opacity: 0.7;
  }

  &:hover {
    border-bottom-color: $base-grey;
  }

  &:focus {
    outline: none;
    border-bottom-color: $base-grey;
  }

  &:disabled {
    border-bottom-color: rgba(255, 255, 255, 0.3);
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.form__input.form__error {
  border-color: $error-color;
  margin-bottom: 2px;
}

.form__button {
  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
    transition: all 0.3s;
  }

  border-radius: 10px;
  background: $base-gradient;
  color: $base-white;

  padding: 17px 10px;

  &:hover {
    background-color: $base-white;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid $base-black;
    outline-offset: -2px;
    background-color: $focus-button;
  }

  &:active {
    color: $base-dark-blue;
    background-color: $base-white;
    outline: none;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }



  @media (min-width: $tablet-width) {
    width: 130px;
  }
}

.form__bottom-text {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__text {
  margin: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}
