
.hero {
  background: $base-gradient;
  color: $base-white;
}

.hero__container {
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    max-width: $tablet-width;
  }
}

.hero__header-wrapper {
  display: flex;
  padding-top: 15px;
  padding-bottom: 17px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 0;
  }
}

.hero__logo {
  @media (min-width: $tablet-width) {
    width: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
  }
}

.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 35px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    column-gap: 20px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 70px;
    height: 22px;
  }
}

.header__link {
  color: $base-white;
  text-decoration: none;
  line-height: 143%;
  font-family: $roboto-font;

  position: relative;
  cursor: pointer;

  &:hover {
    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $base-white;
    }
  }

  &:focus {
    outline: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -11px;
      bottom: -7px;
      top: -7px;
      right: -11px;
      border: 1px solid $base-white;
    }
  }

  &:active {
    &::before,
    &::after {
      display: none;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 157%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.hero__telephone {
  font-family: $roboto-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $base-white;
  text-decoration: none;
  position: relative;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus {
    outline: none;
    color: $base-secondary;
  }

  &:active {
    color: $base-dark-blue;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $base-dark-blue;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }
}

.hero__main-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.hero__text-wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 32px 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 385px;
    padding: 52px 0;
  }
}

.hero__text-inner {
  padding: 50px 0;
  display: flex;
  text-align: end;
  align-items: flex-start;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.hero__name,
.hero__title,
.hero__text {
  margin: 0;
  padding: 0;
}

.hero__name {
  font-family: $roboto-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    font-size: 54px;
  }
}

.hero__title {
  font-family: $alumni-font;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 44px;
    margin-bottom: 40px;
    line-height: 100%;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.04em;
    width: 575px;
    margin-bottom: 50px;
  }
}

.hero__marker {
  margin: 0;
  padding: 0;
  line-height: 143%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 157%;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.hero__text {
  text-align: end;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.hero__button {
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: 30px;


  @media (min-width: $tablet-width) {
    padding: 20px 10px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    padding: 25px 10px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $base-blue;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $base-white;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid $base-black;
    outline-offset: -2px;
    background-color: $focus-button;
  }

  &:active {
    color: $base-dark-blue;
    background-color: $base-white;
    outline: none;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.hero__image {
  @media (max-width: $mobile-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: -57px;
    position: relative;
    top: -57px;
    right: 0;
  }
}

.hero__text-left {
  margin-right: 24px;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    margin-right: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 27px;
  }
}

.hero__text-right {
  margin-left: auto;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 185px;
  }
}
