.juri-button {
  top: 57%;

  @media (min-width: $tablet-width) {
    &--left {
      left: 50px;
    }

    &--right {
      right: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    &--right {
      right: 48px;
    }
  }
}
