.reviews-button {
  @media (min-width: $tablet-width) {
    &--left {
      left: 17px;
    }

    &--right {
      right: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &--left {
      left: 50px;
    }

    &--right {
      right: 50px;
    }
  }
}

.reviews-button__image {
  stroke: $base-dark-blue;
  position: relative;
  z-index: 1;

  &:active {
    stroke: $base-white;
  }
}
