.reviews {
  background-color: $white-darker;
  padding-top: 41px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  blockquote {
    margin: 0;
    font-weight: 300;

    @media (min-width: $tablet-width) {
      text-align: start;
    }

    @media (min-width: $desktop-width) {
    }
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    margin: 0;
    margin-bottom: 16px;
    color: $base-dark-blue;

    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 100%;
    }
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 10px;
  color: $dark-grey;
}

.reviews__container {
  @media (max-width: $mobile-width) {
    width: 240px;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 650px;
  }
}

.reviews__title {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.reviews__card {
  margin: 0 auto;
  padding: 30px 25px;
  width: 240px;
  background: $light-opacity-grey;
  color: $base-white;
  text-align: center;
  height: 100%;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 60px;
  }
}

.reviews__image {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-bottom: 25px;
  }
}


.reviews__container-text {
  @media (min-width: $tablet-width) {
    text-align: start;
    display: flex;
    align-items: center;
  }
}
