.title {
  font-family: $alumni-font;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  background: $base-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
  }
}
