.accordion {
  @media (min-width: $desktop-width) {
    width: 860px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:focus ~ label::after {
      border-color: $base-secondary;
      background-color: $dark-grey;
    }

    &:focus ~ label::before {
      background-color: $base-white;
      z-index: 4;
    }

    &:disabled ~ label {
      pointer-events: none;
      cursor: none;
      opacity: 0.3;
    }
  }

  p {
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    max-width: 82%;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 133%;
    }

    @media (min-width: $desktop-width) {
      max-width: 72%;
    }
  }

  input:checked ~ label {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 31px;
    }
  }

  input:checked ~ label::after {
    background-color: $base-secondary;
  }

  input:checked ~ label::before {
    width: 14px;
    height: 1px;
    top: 15px;
    right: 8px;
    mask-image: none;
    background-color: $base-white;
    z-index: 2;
  }

  input:checked ~ p {
    display: block;
  }
}

.accordion label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  color: $base-dark-blue;
  margin-bottom: 0;
  padding-right: 52px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    border: 1px solid $base-secondary;
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 7px;
    width: 15px;
    height: 13px;
    mask-image: url("../__spritemap#sprite-plus-view");
    mask-repeat: no-repeat;
    background-color: $base-secondary;
  }

  &:hover {
    &::before {
      background-color: $base-white;
      z-index: 4;
    }

    &::after {
      background-color: $base-secondary;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 156px;
    font-size: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.accordion__item {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid $dark-grey;

  &:last-child {
    border-bottom: 1px solid $dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 31px 0 23px;
  }
}
