.button {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $base-white;
  padding: 22px 10px;
  width: 100%;
  background: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 27px 10px;
  }
}
