.features {
  padding: 40px 0;
  padding-top: 41px;
  background-color: $white-darker;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 40px 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
  }
}

.features__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.features__inner {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    grid-row: 1/3;
    margin: 0;
  }
}

.features__text {
  margin: 0 auto;
  font-weight: 300;
  color: $base-dark-blue;

  @media (max-width: $mobile-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin: 0;
  }
}

.features__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &:nth-of-type(-n+2) {
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        border-bottom: 2px solid rgba(209, 10, 66, 0.2);
        left: 0;
        bottom: 0;
      }
    }
  }
}

.features__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0;
    text-align: start;
    column-gap: 15px;
  }
}

.features__item--special {
  padding-top: 30px;
  padding-bottom: 40px;
  color: $base-white;
  background: $base-secondary;
  margin: 40px 0;

  .features__text {
    color: $base-white;
    width: 163px;
    margin: 0 auto;
  }

  .features__subtitle {
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 700;
  }


  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 1/-1;
    width: 320px;
    justify-self: center;
    margin: 0;
    padding: 35px 0;

    .features__special-number {
      margin-bottom: 25px;
    }

    .features__subtitle {
      margin-bottom: 25px;
    }

    .features__text {
      width: 186px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    width: 360px;
    grid-row: 1/3;
    padding: 58px 40px;

    .features__text {
      width: 264px;
    }

    .features__subtitle {
      font-size: 26px;
      margin-bottom: 30px;
    }

    .features__special-number {
      margin-bottom: 10px;
    }
  }
}

.features__number,
.features__special-number {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: $base-white;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 70px;
  }
}

.features__number {
  background: $base-text-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features__definition {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $definition-color;
}

.features__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 8px;
  }
}
