.price {
  padding: 40px 0;
  background-color: $white-darker;
}

.price__title {
  margin-bottom: 30px;
}

.price__tabs {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style-type: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  max-width: 290px;
}

.price__tab {
  margin-bottom: 10px;
  position: relative;
}

.price__tab--active {
  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $scarlet-color;
  }
}

.price__tab-button {
  font-family: $roboto-font;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $base-grey;
  background: none;
  border: none;

  &--active {
    color: #102654;
  }
}

.price__list {
  display: grid;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.price__item {
  padding: 50px 42px;
  width: 290px;
  background-color: $base-white;
  text-align: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.price__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  color: $base-dark-blue;
  margin-bottom: 18px;
}

.price__limit {
  font-weight: 300;
  display: block;
  margin-bottom: 66px;
}

.price__big-value {
  font-weight: 700;
  margin: 0;
  font-size: 80px;
  line-height: 150%;
  color: $light-grey;
  position: absolute;
  z-index: 1;
  top: 128px;
  left: 66px;
}

.price__value {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: $base-blue;
  margin: 0;
  margin-bottom: 18px;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 34px;
    z-index: 2;
    top: 20px;
    background: url("../__spritemap#sprite-ruble-view");
    background-repeat: no-repeat;
  }
}

.price__currency {}

.price__button {
  border: 2px solid $base-dark-blue;
  color: $base-dark-blue;
}
