.reviews {
  background-color: $base-white;
  padding: 40px 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__card {
  margin: 0 auto;
  padding: 30px 25px;
  width: 240px;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background: $base-secondary;
  color: $base-white;
  text-align: center;
}

.reviews__image {}

.reviews__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
}

.reviews__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
}
