.video {
  width: 320px;
  height: 170px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 270px;
    left: 32%;
    bottom: 4%;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    left: 37%;
    bottom: 17%;
  }
}

.video__frame {
  border: 0;

  @media (min-width: $tablet-width) {
    width: 270px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.video__image {
  position: absolute;
  transition: 1s;
  width: 320px;
  height: 170px;

  @media (min-width: $tablet-width) {
    width: 270px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.video__container-button {

}

.video__wrapper {
  position: relative;
}

.video__button {
  position: absolute;
  left: 38%;
  top: 33%;
  width: 72px;
  height: 72px;
  background: transparent;
  border: none;
  padding: 0;


  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 7px;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 56%;
    left: 56%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 13px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 9px solid transparent;
    transition: border-color 300ms;
  }

  @media (min-width: $tablet-width) {
    left: 36%;
  }

  @media (min-width: $desktop-width) {
    left: 39%;
    top: 37%;
  }
}

.video__button-border {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin: -40px 0 0 -40px;
  z-index: 3;
  border: 2px solid $banners-color;
  opacity: 0.2;
  border-radius: 100%;
  transition: border-color 300ms;
}

